<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-6 col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary bg-gradient text-white text-center">
                    <h4>Submit your request</h4>
                </div>
                <div class="card-body p-4">
                    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="location" type="text" name="location" class="form-control" id="location"
                                   placeholder="Enter location" required #request_location="ngModel">
                            <label for="location">Location</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="weatherRequest.timezone" type="text" name="timezone"
                                   class="form-control" id="timezone" placeholder="Enter timezone" #timezone="ngModel">
                            <label for="timezone">Timezone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="weatherRequest.date" type="date" name="date" class="form-control"
                                   id="date" placeholder="Enter date" required #date="ngModel">
                            <label for="date">Date</label>
                        </div>
                        <div class="d-grid col-6 col-sm-5 col-md-3 mx-auto py-1">
                            <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-block">Submit
                            </button>
                        </div>
                        <div class="d-grid col-6 col-sm-5 col-md-3 mx-auto py-1">
                            <button (click)="onReset(form)" type="reset" class="btn btn-primary btn-block">Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid justify-content-center d-flex" *ngIf="this.localStorageService.get('weather')!=null">
        <div class="container">
            <div *ngIf="weatherResponse">
                <h3 class="">Daily Data</h3>
                <div class="row">
                    <div *ngFor="let day of weatherResponse.daily.time; let i = index" class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ weatherResponse.location }}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ day }}</h5>
                                <p class="card-text"><strong>Max
                                    Temp:</strong> {{ weatherResponse.daily.temperature_2m_max[i] }}°C</p>
                                <p class="card-text"><strong>Min
                                    Temp:</strong> {{ weatherResponse.daily.temperature_2m_min[i] }}°C</p>
                                <p class="card-text">
                                    <strong>Precipitation:</strong> {{ weatherResponse.daily.precipitation_sum[i] }} mm</p>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="">Hourly Data</h3>
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>Temperature</h5>
                            </div>
                            <div class="card-body">
                                <canvas baseChart
                                        [datasets]="lineChartDataTemp"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend"
                                        [type]="lineChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>Humidity</h5>
                            </div>
                            <div class="card-body">
                                <canvas baseChart
                                        [datasets]="lineChartDataHumidity"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend"
                                        [type]="lineChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>Precipitation</h5>
                            </div>
                            <div class="card-body">
                                <canvas baseChart
                                        [datasets]="lineChartDataPrecipitation"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend"
                                        [type]="lineChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-grid col-6 col-sm-5 col-md-3 mx-auto py-1">
                    <button (click)="onSave()" type="reset" class="btn btn-primary btn-block">Save this data</button>
                </div>
            </div>
        </div>
    </div>
</div>
